$arrow-diameter: 16px;
$arrow-radius: 8px;
$arrow-radius-half: 4px;
$arrow-place-adjust: 2px;

$arrow-shift: 12px;


.tooltip-arrow-svg {
  color: var(--color-bg-primary-inverse);
}


.tooltip-container {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;

  

  .tooltip {
    $tooltip-distance: 16px;

    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.16);
  
    position: absolute;
    width: max-content;
    // min-width: 50px;
    max-width: 180px;
    padding: 8px 10px;
    background-color: var(--color-bg-primary-inverse);
    color: var(--color-text-primary-inverse);
  
    .arrow-container {
      position: absolute;
    }
  
    .tooltip-content {
      .tooltip-header {
        font-size: 13px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      .tooltip-content-text {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &.position-top-center {
      transform: translateX(-50%);
      top: calc(100% + $tooltip-distance);
      left: 50%;
      
      .arrow-container {
        top: -$arrow-radius;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  
    &.position-top-left {
      transform: translateX(-$arrow-shift - $arrow-radius);
      top: calc(100% + $tooltip-distance);
      left: 50%;
      
      .arrow-container {
        top: -$arrow-radius;
        left: $arrow-shift;
      }
    }
  
    &.position-top-right {
      transform: translateX($arrow-shift + $arrow-radius);
      top: calc(100% + $tooltip-distance);
      right: 50%;
      
      .arrow-container {
        top: -$arrow-radius;
        right: $arrow-shift;
      }
    }

    &.position-bottom-center {
      transform: translateX(-50%);
      bottom: calc(100% + $tooltip-distance);
      left: 50%;
      
      .arrow-container {
        bottom: -$arrow-radius - $arrow-place-adjust;
        transform: translateX(-50%);
        left: 50%;
      }
    }

    &.position-bottom-left {
      transform: translateX(-$arrow-shift - $arrow-radius);
      bottom: calc(100% + $tooltip-distance);
      left: 50%;
      
      .arrow-container {
        bottom: -$arrow-radius - $arrow-place-adjust;
        left: $arrow-shift;
      }
    }

    &.position-bottom-right {
      transform: translateX($arrow-shift + $arrow-radius);
      bottom: calc(100% + $tooltip-distance);
      right: 50%;
      
      .arrow-container {
        bottom: -$arrow-radius - $arrow-place-adjust;
        right: $arrow-shift;
      }
    }
  }
}
