.app-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  background-color: var(--color-bg-primary);
}

.app-bar {
  display: grid;
  grid-template-rows: top auto bottom;
  align-items: stretch;
  flex: 1 1 auto;
}