.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-primary);
  padding: 0 16px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  flex: 1 1 auto;
}

