.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  gap: 20px;
  padding: 50px;
  box-sizing: border-box;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
}

.item:nth-child(1) { align-self: start; justify-self: start; }
.item:nth-child(2) { align-self: start; justify-self: center; }
.item:nth-child(3) { align-self: start; justify-self: end; }
.item:nth-child(4) { align-self: center; justify-self: start; }
.item:nth-child(5) { align-self: center; justify-self: center; }
.item:nth-child(6) { align-self: center; justify-self: end; }
.item:nth-child(7) { align-self: end; justify-self: start; }
.item:nth-child(8) { align-self: end; justify-self: center; }
.item:nth-child(9) { align-self: end; justify-self: end; }
