.activity-progress-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 16px;

  .items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex: 1;
    min-height: 0;
    padding-bottom: 22px;

    .progress-item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .item-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        line-height: 20px;
        

        .label {
          color: var(--color-text-secondary);
        }

        .value-container {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 4px;

          .value {
            font-weight: bold;
            color: var(--color-text-primary);
          }

          .percentage {
            color: var(--color-text-secondary);
          }
        }
      }

      .progress-bar-wrapper {
        width: 100%;
      }
    }
  }
}
