.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.small {
  width: 24px;
  height: 24px;
}
.medium {
  width: 32px;
  height: 32px;
}
.large {
  width: 40px;
  height: 40px;
}
