.dropdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  
  &:disabled {
    cursor: not-allowed;
  }

  option {
    color: initial;
    background: white;
  }
}
