.nav-button {
  height: var(--spacing-basic-nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  cursor: pointer;

  .indicator {
    width: 4px;
    height: 4px;
    background-color: currentColor;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    transition: width 0.3s ease;
  }

  &:hover {
    .indicator {
      width: 12px;
    }
  }

  &[aria-current="page"] {
    .indicator {
      width: 12px;
    }
  }
}