.blog-nav {
  --item-gap: 16px;
  
  height: 56px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 24px;
  background-color: var(--color-bg-primary);

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--item-gap);
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--item-gap);
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--item-gap);
  }
}