.test-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100px;
  position: relative;
}

.test-block-content {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text-negative-trans);
}

// Default variant: subtle border
.test-block.default {
  border: 1px dashed var(--color-border-primary-trans);
  background-color: var(--color-bg-pale-trans);
}

