.kpi-metric {
  display: flex;
  flex-direction: column;
  gap: 2px;

  border: 1px solid var(--color-border-primary);
  height: 100%;
  border-radius: 4px;
  padding: 10px 12px;
  justify-content: space-between;

  .upper {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .header {
      font-size: 14px;
      line-height: 22px;
      color: var(--color-text-secondary);
      font-weight: bold;
    }
  
    .value {
      font-size: 28px;
      line-height: 36px;
      color: var(--color-text-primary);
      font-weight: bold;
    }
  }

  .lower {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: end;

    .change {
      font-size: 12px;
      line-height: 18px;
    }

    .vs {
      font-size: 12px;
      line-height: 18px;
      color: var(--color-text-secondary);
    }
  }
}