.riverwood-logo {
  font-size: 20px;
  line-height: 56px;
  font-weight: bold;
  color: var(--color-text-primary);
  cursor: pointer;
  font-family: var(--font-family-serif);
  text-transform: uppercase;

  &:hover {
    color: var(--color-text-primary-hover);
  }
}