.hero-product-card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border: 1px solid var(--color-border-primary);
  border-radius: 4px;
  padding: 12px;
  align-items: center;
  position: relative;

  .product-image {
    position: relative;
    flex: 0 0 88px;
    height: 88px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .color-tag {
      position: absolute;
      bottom: 4px;
      left: 4px;
      display: flex;
      align-items: center;
      gap: 1px;
      background-color: var(--color-bg-primary);
      border-radius: 10000px;
      padding: 0 4px;

      .color-dot {
        width: 12px;
        height: 12px;
        border-radius: 10000px;
      }

      .color-tag-text {
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        color: var(--color-text-primary);
        font-family: var(--font-family-sans);
        padding: 0 2px;
      }
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex: 1;
    min-width: 0;

    .product-name {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      color: var(--color-text-primary);
    }

    .inventory-metrics {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 6px;
      row-gap: 0;
      font-size: 12px;
      line-height: 18px;

      .inventory-metric {
        display: flex;
        gap: 4px;

        .inventory-metric-label {
          color: var(--color-text-secondary);
        }

        .inventory-metric-value {
          font-weight: bold;
          color: var(--color-text-primary);
        }
      }
    }
  }

  .thumbnails {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 0 0 auto;

    .marker {
      position: absolute;
      transform: translate(-100%, 0);
      left: -4px;
      font-size: 11px;
      line-height: 16px;
      bottom: 0;
      color: var(--color-text-negative);
    }

    .thumbnail {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 40px;

      img {
        width: 100%;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
      }

      .thumbnail-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 11px;
        line-height: 16px;
        text-align: center;

        .thumbnail-percentage {
          font-weight: bold;
          color: var(--color-text-primary);
        }

        .thumbnail-on-hand {
          color: var(--color-text-secondary);
        }
      }
    }
  }
}

