.focus-product-card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border: 1px solid var(--color-border-primary);
  border-radius: 4px;
  padding: 12px;

  .product-image {
    position: relative;
    flex: 0 0 128px;
    height: 128px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .color-tag {
      position: absolute;
      bottom: 4px;
      left: 4px;
      display: flex;
      align-items: center;
      gap: 1px;
      background-color: var(--color-bg-primary);
      border-radius: 10000px;
      padding: 0 4px;

      .color-dot {
        width: 12px;
        height: 12px;
        border-radius: 10000px;
      }

      .color-tag-text {
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        color: var(--color-text-primary);
        font-family: var(--font-family-sans);
        padding: 0 2px;
      }
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    justify-content: space-between;

    .header {
      display: flex;
      gap: 4px;
      justify-content: space-between;

      .product-basic-info {
        .product-name {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
          color: var(--color-text-primary);
        }

        .inventory-infos {
          display: flex;
          flex-direction: row;
          gap: 10px;
          font-size: 12px;
          line-height: 18px;

          .inventory-info {
            display: flex;
            gap: 4px;

            .inventory-info-label {
              color: var(--color-text-secondary);
            }

            .inventory-info-value {
              font-weight: bold;
              color: var(--color-brand);
            }
          }
        }
      }
    }

    .caption-infos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 8px;
      .caption-info {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 18px;

        .caption-info-label {
          font-size: 13px;
          line-height: 19px;
          color: var(--color-text-secondary);
        }

        .caption-info-value {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
          color: var(--color-text-primary);
        }

        .caption-info-change {
          font-size: 12px;
          line-height: 18px;
          color: var(--color-text-secondary);
        }
      }
    }
  }
}
