

.basic-layout {
  $spacing-app-bar-width: 56px;
  $spacing-nav-height: 56px;
  $spacing-left-sidebar-width: 256px;
  $spacing-right-sidebar-width: 320px;

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .app-bar {
    flex: 0 0 $spacing-app-bar-width;
    border-right: 1px solid var(--color-border-primary);
  }
  
  .page-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .nav-bar {
      flex: 0 0 $spacing-nav-height;
      border-bottom: 1px solid var(--color-border-primary);
    }
    .page-body-content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;

      .left-sidebar {
        flex: 0 0 $spacing-left-sidebar-width;
        border-right: 1px solid var(--color-border-primary);
      }
      
      .content-container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        .content-container-main {
          flex: 1 1 auto;
        }

        .right-sidebar {
          flex: 0 0 $spacing-right-sidebar-width;
          border-left: 1px solid var(--color-border-primary);
          border-left: 1px solid var(--color-border-primary);
        }
      }
    }
  }
}
