.widget-frame {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-primary-trans);
  border-radius: 8px;
  height: 100%;
  background-color: var(--color-bg-primary);
}

.widget-frame-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding-left: 12px;
  padding-right: 7px;
  border-bottom: 1px dashed var(--color-border-primary-trans);

  .controls-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .title-container {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-text-secondary-trans);

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 17px;
      height: 17px;
    }

    .title-container {
      font-size: 13px;
      line-height: 20px;
    }
  }
}

.widget-frame-content {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
  background-color: var(--color-bg-primary);
}
