.summary-activity-progress-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;

  .items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex: 1;
    min-height: 0;
    padding-bottom: 28px;

    .progress-item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .item-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 22px;

        .label {
          color: var(--color-text-secondary);
          font-weight: 500;
        }

        .value-container {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 6px;

          .value {
            font-weight: bold;
            font-size: 16px;
            color: var(--color-text-primary);
          }

          .percentage {
            color: var(--color-text-secondary);
            font-size: 14px;
          }
        }
      }

      .progress-bar-wrapper {
        width: 100%;
      }
    }
  }
}
