.base {
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;

  // fixed color
  --border-color: var(--color-border-primary);

  // changable color
  --main-color: var(--color-text-primary);
  --main-color-inverse: var(--color-text-primary-inverse);
  --em-color: var(--color-text-primary-em);
  --sec-color: var(--color-bg-secondary);

  // in the following, I set the colors to red to see if the styles are applied correctly
  color: red;
  background-color: red;
  border-color: red;

  &:disabled {
    cursor: not-allowed;
    
    .content {
      opacity: 0.4;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Semantics */
.brand {
  --main-color: var(--color-brand);
  --main-color-inverse: var(--color-text-primary-inverse);
  --em-color: var(--color-brand);
  --sec-color: var(--color-bg-secondary-trans);
}

.primary {
  --main-color: var(--color-text-primary-trans);
  --main-color-inverse: var(--color-text-primary-inverse);
  --em-color: var(--color-text-primary);
  --sec-color: var(--color-bg-secondary-trans);
}

.secondary {
  --main-color: var(--color-text-secondary-trans);
  --main-color-inverse: var(--color-text-primary-inverse);
  --em-color: var(--color-text-secondary-trans);
  --sec-color: var(--color-bg-secondary-trans);
}

.negative {
  --main-color: var(--color-text-negative-trans);
  --main-color-inverse: var(--color-text-primary-inverse);
  --em-color: var(--color-text-negative-trans);
  --sec-color: var(--color-bg-secondary-trans);
}

.disabled {
  --main-color: var(--color-text-disabled-trans);
  --main-color-inverse: var(--color-text-primary-inverse);
  --em-color: var(--color-text-disabled-trans);
  --sec-color: var(--color-bg-secondary-trans);
}

/* Variants */
.fill-inverse {
  color: var(--main-color-inverse);
  background-color: var(--em-color);
  border-radius: 4px;
}

.fill {
  color: var(--main-color);
  background-color: var(--sec-color);
  border-radius: 4px;
}

.ghost {
  background-color: transparent;
  color: var(--main-color);
  border-radius: 4px;
}

.outlined {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--main-color);
  border-radius: 4px;
}

/* Sizes */
.small {
  height: 24px;
  padding: 0 5px;

  .content {
    gap: 1px;

    .icon,
    .deco-icon {
      font-size: 14px;
    }
  }
  .text {
    font-size: 12px;
    line-height: 20px;
    padding-top: 1.25px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.medium {
  height: 32px;
  padding: 0 8px;
  gap: 2px;

  .content {
    gap: 2px;

    .icon,
    .deco-icon {
      font-size: 17px;
    }

    .text {
      font-size: 14px;
      line-height: 22px;
      padding-top: 2px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.large {
  height: 40px;
  padding: 0 10px;
  .content {
    gap: 2px;

    .icon,
    .deco-icon {
      font-size: 20px;
    }
    .text {
      font-size: 18px;
      line-height: 24px;
      padding-top: 2px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.xlarge {
  height: 48px;
  padding: 0 12px;

  .content {
    gap: 3px;

    .icon,
    .deco-icon {
      font-size: 24px;
    }
    .text {
      font-size: 20px;
      line-height: 28px;
      padding-top: 2.5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
