.engagement-overview-metric {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 24px;

  .header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: baseline;

    .title {
      font-size: 36px;
      font-weight: 600;
      line-height: 56px;
      color: var(--color-text-primary);
    }

    .value {
      font-size: 14px;
      line-height: 22px;
      color: var(--color-text-secondary);
    }
  }

  .progress-bar-container {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 0;

    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;

      .description {
        font-size: 12px;
        line-height: 20px;
        color: var(--color-text-secondary);
        line-height: 1.4;
        margin: 0;
      }
    }
  }
}

