.app-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .first,
  .center,
  .last {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}