// Don't use specific colors in the code, use the variables defined here.

:root {
  --color-brand: #FF4646;

  // background colors
  & {
    --color-bg-primary: #ffffff;

    --color-bg-pale: #fafafa;
    --color-bg-pale-trans: rgba(0, 0, 0, 0.02);

    --color-bg-secondary: #F5F5F5;
    --color-bg-secondary-trans: rgba(0, 0, 0, 0.04);

    --color-bg-darken: #EBEBEB;
    --color-bg-darken-trans: rgba(0, 0, 0, 0.08);
    
    --color-bg-primary-inverse: #000000;

    --color-bg-hover: rgba(0, 0, 0, 0.04);
    --color-bg-hover-inverse: rgba(255, 255, 255, 0.16);
  }

  // text colors
  & {
    --color-text-primary: #1f1f1f;
    --color-text-primary-trans: rgba(0, 0, 0, 0.88);
    --color-text-primary-em: rgba(0, 0, 0, 1);

    --color-text-secondary: #707070;
    --color-text-secondary-trans: rgba(0, 0, 0, 0.56);

    --color-text-negative: #adadad;
    --color-text-negative-trans: rgba(0, 0, 0, 0.32);

    --color-text-disabled: #d6d6d6;
    --color-text-disabled-trans: rgba(0, 0, 0, 0.16);

    --color-text-primary-inverse: #ffffff;
    --color-text-primary-inverse-em: rgba(255, 255, 255, 1);
  }

  // border colors
  & {
    --color-border-primary: #ebebeb;
    --color-border-primary-trans: rgba(0, 0, 0, 0.08);

    --color-border-darken: #E0E0E0;
    --color-border-darken-trans: rgba(0, 0, 0, 0.12);
  }
}

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
